
# BEGIN WordPress
# Dyrektywy zawarte między `BEGIN WordPress` oraz `END WordPress`
# są generowane dynamicznie i powinny być modyfikowane tylko za pomocą
# filtrów WordPressa. Zmiany dokonane bezpośrednio tutaj będą nadpisywane.

# BEGIN Security (Login page)
  <IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteRule ^my-login /wp-login.php [QSA,L]
  </IfModule>
# END Security (Login page)


# BEGIN Security (load JS & CSS)
  <IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{REQUEST_FILENAME} ^.*wp-admin/load-scripts.php$ [OR]
    RewriteCond %{REQUEST_FILENAME} ^.*wp-admin/load-styles.php$
    RewriteCond %{HTTP_COOKIE} !^.*wordpress_logged_in.*$ [NC]
    RewriteRule ^ - [L,R=404]
  </IfModule>
# END Security (load JS & CSS)


# BEGIN Security (User enumeration)
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_URI} ^/$
    RewriteCond %{QUERY_STRING} ^/?author=\d
    RewriteRule ^ - [L,R=404]
  </IfModule>
# END Security (User enumeration)


# BEGIN Security (HTTP headers)
  <ifModule mod_headers.c>
    Header set X-XSS-Protection "1; mode=block"
    Header set X-Frame-Options "sameorigin"
    Header set X-Content-Type-Options "nosniff"
  </IfModule>
# END Security (HTTP headers)


# BEGIN Security (URL Hacking)
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK) [NC]
    RewriteRule ^(.*)$ - [F,L]
  </IfModule>
# END Security (URL Hacking)


# BEGIN Security (Repair database)
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^wp-admin/maint/repair.php?$ - [L,R=404]
  </IfModule>
# END Security (Repair database)


# BEGIN Security (Files)
  <FilesMatch "^(?i).*\.(htaccess|htpasswd|ini|phps|fla|log|sh|bak|git|svn|sql|tar|tar\.gz)$">
    order allow,deny
    deny from all
  </FilesMatch>
  <FilesMatch "^(?i)(wp-config\.php|xmlrpc\.php|install\.php)$">
    order allow,deny
    deny from all
  </FilesMatch>
  <FilesMatch "^(?i)(error_log|changelog\.txt|license\.(html|txt|commercial\.txt)|readme\.(html|md|txt))$">
    order allow,deny
    deny from all
  </FilesMatch>
# END Security (Files)


# BEGIN Security (Directory access)
  <IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteRule ^wp-admin/includes/ - [L,R=404]
    RewriteRule !^wp-includes/ - [S=3]
    RewriteRule ^wp-includes/([^/]+)\.php$ - [L,R=404]
    RewriteRule ^wp-includes/js/tinymce/langs/.+\.php - [L,R=404]
    RewriteRule ^wp-includes/theme-compat/ - [L,R=404]
    RewriteRule ^wp-content/([^.]+).php?$ - [L,R=404]
    RewriteRule ^wp-content/(([^/]+)/)+$ - [L,R=404]
  </IfModule>
# END Security (Directory access)


# BEGIN Security (Indexes)
  Options All -Indexes
# END Security (Indexes)


# BEGIN Security (PHP errors)
  <IfModule mod_php5.c>
    php_value display_startup_errors off
    php_value display_errors off
  </IfModule>
  <IfModule mod_php7.c>
    php_value display_startup_errors off
    php_value display_errors off
  </IfModule>
# END Security (PHP errors)

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress