.contact {

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  &__textWrapper {
    padding: 80px 0;
    background-color: $c-green-02;
  }

  &__formWrapper {
    background-color: $c-gray-02;
  }

  &__textWrapper,
  &__formWrapper {
    flex: 0 0 50%;
    max-width: 50%;

    @include rwd('large-tablet') {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__form,
  &__text {
    width: 100%;
    max-width: 630px;
    padding-left: $gridGutter;
    padding-right: $gridGutter;

    @include rwd('large-tablet') {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  &__form {
    margin-right: auto;
  }

  &__text {
    margin-left: auto;
  }

  &__textHeader {
    font-family: $f-Prompt;
    font-size: 3.6rem;
    font-weight: $fw-Medium;
    line-height: 1.25;

    @include rwd('large-tablet') {
      text-align: center;
    }

    hr {
      width: 46px;
      height: 5px;
      background-color: $c-white;
      margin-top: 35px;
      margin-bottom: 45px;
      margin-left: 0;
      border: none;

      @include rwd('large-tablet') {
        margin-left: auto;
      }
    }
  }

  &__formHeader {
    font-family: $f-Prompt;
    font-size: 3.6rem;
    font-weight: $fw-Medium;
    line-height: 1.25;

    @include rwd('large-tablet') {
      text-align: center;
    }

    hr {
      width: 46px;
      height: 5px;
      background-color: $c-green-02;
      margin-top: 35px;
      margin-bottom: 45px;
      margin-left: 0;
      border: none;

      @include rwd('large-tablet') {
        margin-left: auto;
      }
    }
  }

  &__textAddress {
    padding-bottom: 60px;

    img {
      width: 80%;
    }

    p {
      span {
        font-size: 2.2rem;
      }
    }

    @include rwd('large-tablet') {
      p {
        text-align: center;
      }

      img {
        width: 100%;
      }
    }
  }

  &__textContacts {

  }

  &__textContact {
    display: flex;
    align-items: center;
    padding: 10px 0;

    @include rwd('large-tablet') {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__textContactIcon {
    width: 83px;
    height: 83px;

    border: 1px solid $c-white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__textContactText {

    @include rwd('large-tablet') {
      padding-top: 20px;
    }

    a {
      font-family: $f-Work_Sans;
      font-size: 2.2rem;
      font-weight: normal;
      line-height: 1.09;
      color: $c-white;
      padding-left: 20px;
    }
  }

  &__formInner {
    padding: 80px 0 80px 100px ;

    @include rwd('large-tablet') {
      padding: 80px 0 ;
    }
  }
}