.nav {

  @include parent('.header__sidebar', '') {
    height: 100%;
  }

  &__basic-items {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;

    @include parent('.header__sidebar', '') {
      height: calc(100vh - 85px);
      flex-direction: column;
      justify-content: unset;
      align-items: center;
      padding-bottom: 0;
    }
  }

  &__basic-item {
    border-right: 1px solid $c-gray-05;

    &:last-child {
      border-right: none;
    }

    @include parent('.header__sidebar', '') {
      border-right: none;
      padding: 25px 29px;
    }
  }

  &__link {
    font-family: $f-Prompt;
    font-size: 1.5rem;
    font-weight: $fw-Medium;
    line-height: 1.5;
    letter-spacing: 1.05px;
    text-align: center;
    color: $c-black;
    padding: 0 29px;
    transition: color .3s ease-in-out;
    text-transform: uppercase;

    &:hover,
    &.active {
      color: $c-green-02;
    }
  }
}