$c-black   : #000000;
$c-black-02: #161615;
$c-white   : #ffffff;


$c-gray-01 : #fdfdfd;
$c-gray-02 : #f8f8f8;
$c-gray-03 : #e8e8e8;
$c-gray-04 : #dcdcdc;
$c-gray-05 : #ebebeb;
$c-gray-06 : #fbfbfb;

$c-green-01: #18ede2;
$c-green-02 : #00a19a;

$c-blue-01 : #163767;
$c-blue-02 : #132d54;

$c-red-01 : #ff0000;
