$Prompt : (
  (
    'name'   : 'Medium',
    'weight' : 500,
    'style'  : 'normal'
  ),
);

$Work_Sans : (
  (
    'name'   : 'Regular',
    'weight' : 400,
    'style'  : 'normal'
  )
);

$f-Prompt: 'Prompt', sans-serif;
$f-Work_Sans: 'Work_Sans', sans-serif;

$fw-Regular: 400;
$fw-Medium: 500;